<div>
  <h1>Solution Steps:</h1>
  <ol>
    <li></li>
    <ul>
      <li><strong>John:</strong> 4c + 2p + 3r = 52</li>
      <li><strong>Peter:</strong> 1c + 3p + 2r = 48</li>
    </ul>
    <li></li>
    <ul>
      <li>4(1c + 3p + 2r) = 4 * 48, hence 4c + 12p + 8r = 192</li>
    </ul>
    <li></li>
    <ul>
      <li>(4c + 12p + 8r) - (4c + 2p + 3r) = 192 - 52, hence 10p + 5r = 140</li>
    </ul>
    <li></li>
    <ul>
      <li>2p = 28 - r, hence p = 14 - 0.5r</li>
    </ul>
    <li></li>
    <ul>
      <li>
        1c + 3(14 - 0.5r) + 2r = 48, hence 1c + 42 + 0.5r = 48, hence 1c + 0.5r
        = 6, hence 2c + r = 12, hence r = 12 - 2c
      </li>
    </ul>
    <li></li>
    <ul>
      <li>4c + 2(14 - 0.5(12 - 2c)) + 3(12 - 2c) = 52, hence c = 6</li>
    </ul>
    <li></li>
    <ul>
      <li>r = 12 - 2 * 6 = 0</li>
      <li>p = 14 - 0.5 * 0 = 14</li>
    </ul>
    <li></li>
    <ul>
      <li>1 * 6 + 1 * 14 + 1 * 0 = 20 cents</li>
    </ul>
  </ol>
</div>
